!!!
%html
  %head
    %title Parser
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          = link_to "RSS", root_path, id: "logo"
          %nav
            %ul.nav.pull-right
              %li= link_to "Add feed", new_feed_entry_path

    .container
      = yield